<div class="row pb-3">
  <div class="col-2 pl-3 pt-3 border-right">
    <div class="mb-3">
      <select class="custom-select custom-select-sm" [(ngModel)]="selectedFileType">
        <option value="">File Type (All)</option>
        <option *ngFor="let fileType of fileTypes" [value]="fileType">
          {{fileType}}
        </option>
      </select>
    </div>
    <div class="mb-3">
      <select class="custom-select custom-select-sm" [(ngModel)]="selectedBranchCode">
        <option value="">Branch Code (All)</option>
        <option *ngFor="let branchCode of branchCodes" [value]="branchCode">
          {{branchCode}}
        </option>
      </select>
    </div>
    <!-- <div class="mb-3">
      <select class="custom-select custom-select-sm">
        <option value="" selected>Business Code (All)</option>
        <option *ngFor="let businessCode of businessCodes" [value]="businessCode">
          {{businessCode}}
        </option>
      </select>
    </div>
    <div class="mb-3">
      <select class="custom-select custom-select-sm">
        <option value="" selected>State Code (All)</option>
        <option *ngFor="let stateCode of stateCodes" [value]="stateCode">
          {{stateCode}}
        </option>
      </select>
    </div> -->
    <div class="mb-3">
      <select class="custom-select custom-select-sm" [(ngModel)]="selectedAsstYear">
        <option value="">Assessment Year (All)</option>
        <option *ngFor="let assessmentYear of assessmentYears" [value]="assessmentYear">
          {{assessmentYear}}
        </option>
      </select>
    </div>
    <div class="text-right pb-3">
      <button type="button" class="btn btn-info btn-sm btn-block" (click)="filterProfiles()"><i class="fa fa-search">&nbsp;&nbsp;</i>Search</button>
    </div>
  </div>
  <div class="col-7 pt-3 border-right border-left">
    <div class="profile-wrapper overflow-auto">
      <div *ngFor="let profile of profilesViewList" [ngClass]="profile.JobStatus != 'Done' ? 'border-warning' : 'border-success'"
        class="box card cursor-pointer" (click)="showProfileDetail(profile)">{{profile.ProfileName}}</div>
    </div>
  </div>
  <div class="col-3 pt-3 border-left profile-info-font">
    <div class="text-center border-bottom pb-3">
      <button type="button" (click)="navToFeatures()" class="btn btn-success btn-sm btn-block"><i class="fa fa-plus">&nbsp;&nbsp;</i>Create
        Profile</button>
    </div>
    <div *ngIf="showDetail" class="border-top pt-3 profile-info-wrapper overflow-auto">
      <table class="table table-striped table-bordered">
        <tr>
          <th scope="row">Status</th>
          <td><span class="badge badge-pill " [ngClass]="detailProfile.JobStatus != 'Done' ? 'badge-warning' : 'badge-success'">{{detailProfile.JobStatus}}</span></td>
        </tr>
        <tr>
          <th scope="row">Profile Name</th>
          <td>{{detailProfile.ProfileName}}</td>
        </tr>
        <tr>
          <th scope="row">Created By</th>
          <td>{{detailProfile.User}} - {{detailProfile.UserID}}</td>
        </tr>
        <tr>
          <th scope="row">Model Used</th>
          <td>{{detailProfile.ModelName}}</td>
        </tr>
        <tr>
          <th scope="row">File Type</th>
          <td>{{detailProfile.FileType}}</td>
        </tr>
        <tr>
          <th scope="row">Assessment Year</th>
          <td>{{detailProfile.AssessmentYear}}</td>
        </tr>
        <tr>
          <th scope="row">Branch Code</th>
          <td>{{detailProfile.BranchCode}}</td>
        </tr>
        <tr>
          <th scope="row">Saved</th>
          <td>{{detailProfile.Saved}}</td>
        </tr>
      </table>
      <table class="table table-striped table-bordered">
        <tr class="text-center">
          <td colspan="2">
            <button type="button" (click)="navToResults()" [disabled]="detailProfile.JobStatus != 'Done'" class="btn btn-info btn-sm btn-block"><i
                class="fa fa-table">&nbsp;&nbsp;</i>View
              Results</button>
          </td>
        </tr>
        <tr class="text-center">
          <td>
            <button type="button" [disabled]="detailProfile.Saved != false" class="btn btn-info btn-sm btn-block"><i
                class="fa fa-pencil">&nbsp;&nbsp;</i>Edit Profile</button>
          </td>
          <td>
            <button type="button" [disabled]="detailProfile.Saved != false" class="btn btn-success btn-sm btn-block"><i
                class="fa fa-floppy-o">&nbsp;&nbsp;</i>Save Profile</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
